---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
    <div class="min-h-screen">
        <div class="flex flex-col items-center justify-center h-screen">
            <h1 class="text-6xl font-bold mb-0">404</h1>
            <p class="text-lg">Page not found</p>
            <a href="/" class="text-sm border border-white rounded-full transition-all px-6 hover:bg-white hover:text-[#2e3148] py-1.5 mt-6">
                Go home
            </a>
        </div>
    </div>
</Layout>
